BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=G-CRM
AFRICATALKING_API_KEY=
AFRICATALKING_USERNAME=
AFRICATALKING_PHONE_NUMBER=
EVOLUTION_API_URL=https://evolution-api-latest-62vs.onrender.com
EVOLUTION_API_KEY=
WHATSAPP_SERVICE_URL=http://localhost:3000
SMS_SERVICE_URL=http://localhost:3001
INTERNAL_API_KEY=
